<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список машин</title>
</head>
<body>
    <h1>Список машин</h1>
    <table>
        <thead>
        <tr>
            <th>Модель</th>
            <th>Серия</th>
            <th>Год</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.model}">Модель</td>
            <td th:text="${car.series}">Серия</td>
            <td th:text="${car.year}">Год</td>
        </tr>
        </tbody>
    </table>
</body>
</html>